:root {
    --spacing-1: 2vmin;
    --spacing-2: calc(var(--spacing-1) * 2);
}

h1,
h2 {
    margin: unset;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section>h2 {
    margin-top: var(--spacing-1);
    margin-bottom: var(--spacing-1);
}

body {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: var(--spacing-1);
    margin-top: var(--spacing-2);
    margin-bottom: var(--spacing-2);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vmin;
}

body>header {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
}


body>header>img {
    width: 20%;
    border-radius: 100%;
    border: 1px solid oklch(from black l c h / 10%);
    min-width: 100px;
}

body>header>div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

body>header>div>nav>ul {
    display: flex;
    gap: var(--spacing-2);
    list-style: none;
    padding-left: 0;
}

body>main {
    display: flex;
    gap: var(--spacing-2);
}

body>main>article {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
}

body>main>aside {
    padding-left: var(--spacing-2);
    border-left: 1px solid oklch(from black l c h / 10%);
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 3vmin;
    }
}

@media only screen and (max-width: 1200px) {
    body {
        width: 80%;
    }

    body>header {
        flex-direction: column;
    }

    body>header>img {
        min-width: 50px;
    }

    body>header>div {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    body>header>div>nav>ul {
        justify-content: center;
        flex-wrap: wrap;
    }
}
